@use "partials/variables_layout_dark" as basic;

html {
	font-size: basic.$basicFontSize;
}

body {
	background-color: basic.$firstColor;
	padding: basic.$padding;
	font-family: basic.$primaryFontFamily;

	/* override resets */
	h1 {
		font-size: 2em;
		margin-left: basic.$margin;
	}
	h2 {
		font-size: 1.6em;
	}
	a {
		color: basic.$linkColor;
	}

	/* all pages */
	.page {
		h2.title {
			color: basic.$thirdColor;
			margin-bottom: 10px;
		}
		p.description {
			margin-bottom: 20px;
			font-style: italic;
			padding-bottom: 10px;
			border-bottom: 1px solid #ccc;
			display: inline-block;
		}
		code {
			background-color: basic.$codeLineBackgroundColor;
			color: basic.$codeLineTextColor;
			font-family: "Courier New", Courier, monospace;
			font-weight: bold;
		}
		p {
			line-height: 1.2rem;
			color: basic.$mainTextColor;
		}
		ul {
			margin-left: 20px;
			li {
				line-height: 1.3rem;
				list-style: disc;
				strong {
					font-weight: bold;
					color: rgb(230, 215, 150);
				}
			}
		}
		div {
			line-height: 1.3rem;
		}
	}
	.app_site {
		.topHeader {
			display: flex;
			h1.siteTitle {
				/* smartphone */
				@media (max-width: 767px) {
					margin: 0 -10px 10px -12px;
				}
				/* computer */
				@media (min-width: 768px) {
					margin: 0 0 10px -2px;
				}
				color: #888;
				.version {
					color: brown;
					position: relative;
					top: 0.4rem;
					left: 4px;
					font-size: 45%;
				}
			}
			.menuToggle {
				margin: 8px 0 0 12px;
				.toggle {
					display: inline-block;
					cursor: pointer;
				}
				.toggle_input {
					display: none;
				}
				.toggle_fill {
					position: relative;
					width: 40px;
					height: 20px;
					border-radius: 20px;
					background-color: #dddddd;
					transition: background-color 0.2s;
				}
				.toggle_input:checked ~ .toggle_fill {
					background: #a1a1a1;
				}

				.toggle_fill::after {
					content: "";
					position: absolute;
					top: 0;
					left: 0;
					height: 20px;
					width: 20px;
					background-color: #ffffff;
					box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
					border-radius: 20px;
					transition: transform 0.2s;
				}

				.toggle_input:checked ~ .toggle_fill::after {
					transform: translateX(20px);
				}
			}
		}

		/* smartphone */
		@media (max-width: 767px) {
			.app_container {
				background-color: basic.$secondColor;
				margin: basic.$margin -20px 0 -20px;
				padding-top: basic.$padding;
				padding-bottom: basic.$padding;
				padding-right: 10px;
				padding-left: 10px;
				border-top: 1px solid #bbb;
				min-height: basic.$basicLayoutHeight;
			}
		}

		/* computer */
		@media (min-width: 768px) {
			.app_container {
				background-color: basic.$secondColor;
				margin: basic.$margin 0 0 0;
				padding: basic.$padding;
				border: 1px solid #888;
				border-radius: 5px;
				min-height: basic.$basicLayoutHeight;
			}
		}

		nav {
			span {
				margin: 0 13px 5px 0;
				display: inline-block;
				user-select: none;
				.active {
					font-weight: bold;
					pointer-events: none;
					text-decoration: none;
				}
			}
			a {
				color: #ccc;
				font-size: 0.9em;
			}
		}
	}
	/* smartphone */
	@media (max-width: 767px) {
		nav {
			margin: 0 -10px;
		}
	}
	/* computer */
	@media (min-width: 768px) {
		margin: 0 20px;
	}

	// OUTLINE

	ul.outline {
		list-style: disc;

		/* smartphone */
		@media (max-width: 767px) {
			margin: 1px 0 0 10px !important;
		}

		/* computer */
		@media (min-width: 768px) {
			margin: 20px;
		}

		li {
			line-height: 19px;
			// margin: 0 0 0 0;
			margin-top: 10px;
			margin-left: -20px;
		}

		li code {
			// background-color: #ddd;
			font-weight: bold;
			font-family: "Courier New", Courier, monospace;
			display: inline-block;
			padding-right: 3px;
			padding-left: 3px;
		}

		li a {
			color: black;
		}

		img {
			margin: 10px 0 10px 0;
			border: 1px solid #ddd;
			max-width: 100%;
		}

		li.codeBlock {
			list-style: none;
		}

		ul {
			margin: 0 0 0 38px !important;
		}

		div.codeBlock {
			color: basic.$codeBlockTextColor;
			background-color: basic.$codeBlockBackgroundColor;
			font-family: courier;
			font-size: 13px;
			padding: 5px 10px 5px 10px;
			border: 1px solid #ccc;
			border-radius: 5px;
			overflow-x: auto;
			margin: 2px 0 0 -19px;

			pre {
				margin: 0 0 0 0;
			}
		}

		div.paragraphBlock {
			color: basic.$codeBlockTextColor;
			background-color: basic.$codeBlockBackgroundColor;
			font-family: courier;
			font-size: 13px;
			padding: 5px 10px 5px 10px;
			border: 1px solid #ccc;
			border-radius: 5px;
			margin: -4px 0 0 0;

			pre {
				margin: 0 0 0 0;
				white-space: normal;
			}
		}

		.video {
			max-width: 100%;
			margin: 10px 0 0 0;
		}
	}

	.item {
		border: 1px solid #aaa;
		margin-bottom: 20px;
		// border-radius: 5px;
		-webkit-box-shadow: 7px 5px 15px -8px #000000;
		box-shadow: 7px 5px 15px -8px #000000;

		.header {
			border-bottom: 1px solid #ccc;
			padding: 15px 15px 5px 15px;
			background-color: basic.$itemHeaderBackroundColor;
			z-index: 10;

			.createDate {
				color: basic.$createDate;
				// font-weight: 500;
				font-size: 0.9em;
				text-transform: uppercase;
				&::after {
					content: " - ";
				}
			}

			.category {
				color: basic.$category;
				font-variant: small-caps;
				// text-shadow: 2px 2px 2px basic.$categoryShadowColor;
			}

			.title {
				font-size: 24px;
				margin: 0 0 10px 0;
				line-height: 27px;
				color: basic.$mainTextColor;
			}

			/* smartphone */
			@media (max-width: 767px) {
				.title {
					font-size: 1.2rem;
				}
			}

			/* computer */
			@media (min-width: 768px) {
				.title {
					font-size: 1.4rem;
				}
			}

			.manageIconArea {
				z-index: 0;
			}

			.headerRow {
				a {
					text-decoration: none;
				}
				.showExample {
					font-size: 18px;
					color: darkgreen;
					display: flex;
					margin-top: -5px;
					.text {
						margin-top: -3px;
						margin-left: 5px;
					}
				}
				.showDownload {
					font-size: 18px;
					color: rgb(1, 51, 1);
					display: flex;
					margin-top: -5px;
					.text {
						margin-top: -3px;
					}
				}
				.subRow {
					display: flex;
					a {
						margin-right: 20px;
					}
				}
			}
		}

		.body {
			background-color: basic.$itemBody;
			color: basic.$mainTextColor;

			a {
				color: basic.$linkColor;
			}

			/* smartphone */
			@media (max-width: 767px) {
				padding: 10px 20px 20px 40px;
			}

			/* computer */
			@media (min-width: 768px) {
				padding: 10px 20px 20px 40px;
			}

			pre {
				margin: 0;
			}

			.dataTypeWholeNumber_minus {
				color: tomato;
			}

			.labelPart {
				color: #aaa;
			}

			div.displayItemTextBlockArea {
				background-color: #ddd;
				padding: 5px;
				border-radius: 5px;
			}

			div.displayItemTextBlockArea textarea {
				font-size: 13px;
				height: 200px;
			}

			/* if you find you need this code, put it back in but in a way
        that does not effect the outline mode, e.g. see showcaseSearchAndDisplayItemType

        ul {
            margin    : 0 0 0 -10px;
            list-style: none;
        }

        ul li::before {
            content    : "\2022";
            color      : #aaa;
            font-weight: bold;
            display    : inline-block;
            width      : 1em;
            margin-left: -1em;
        }
        */

			table {
				border-spacing: 2px;
				border-collapse: separate;

				td.label {
					font-weight: bold;
					white-space: nowrap;
					vertical-align: top;
					color: #555;
				}

				td.data {
					background-color: #fff;
					width: 100%;
				}
			}

			/* smartphone */
			@media (max-width: 767px) {
				.video {
					width: 186px;
					height: 105px;
				}

				img.outlineImage {
					width: 100%;
				}
			}

			/* computer */
			@media (min-width: 768px) {
				.video {
					width: 560px;
					height: 315px;
				}

				img.outlineImage {
					max-width: 100%;
					height: auto;
					width: auto;
				}
			}
		}
	}

	// item page
	$menuReduced: #bbb;
	.itemLinkTitle {
		cursor: pointer;
		color: basic.$thirdColor;
	}
	.oneOfMany {
		color: basic.$thirdColor;
		.itemTypeTitle {
			text-decoration: underline;
			cursor: pointer;
		}
	}
	.overviewItem {
		margin: 0 0 10px 0;
		.createDate {
			color: basic.$createDate;
			font-size: 0.8em;
			text-transform: uppercase;
			&::after {
				content: " - ";
			}
		}
		.category {
			color: basic.$category;
			font-variant: small-caps;
			// text-shadow: 2px 2px 2px basic.$categoryShadowColor;
		}
		.itemLinkTitle {
			font-weight: 500;
			color: #fff;
		}
	}
	.searchArea {
		margin: 0 0 0px 0;
		/* smartphone */
		@media (max-width: 767px) {
			::placeholder {
				color: #555;
			}
		}

		/* computer */
		@media (min-width: 768px) {
			::placeholder {
				color: #999;
			}
		}

		.buttonRow {
			margin: 0 5px 15px 5px;
			display: flex;
			flex-wrap: wrap;
		}

		.searchRow {
			display: flex;
			flex-wrap: wrap;
			margin-bottom: 10px;
		}

		.btn-topic {
			margin: 0 5px 5px 0;
		}

		.searchBox {
			margin: 0 5px 0 0;
			font-size: 2rem;
			border: 2px solid #aaa;
			border-radius: 5px;
			background-color: #444;
			padding: 3px;
			width: 100%;
			color: basic.$thirdColor;
			::placeholder {
				color: blue;
			}
		}

		/* smartphone */
		@media (max-width: 767px) {
			.searchBox {
				width: 100%;
			}
		}

		/* computer */
		@media (min-width: 768px) {
			.searchBox {
				width: 400px;
			}
		}

		.separator {
			color: $menuReduced;
		}

		.category {
			cursor: pointer;
		}

		.active {
			background: $menuReduced;
			font-weight: bold;
			&:before {
				content: " ";
				white-space: pre;
			}
			&:after {
				content: " ";
				white-space: pre;
			}
		}

		.category:hover {
			background-color: $menuReduced;
		}
	}

	/* smartphone view */
	@media (max-width: 577px) {
		.searchBox {
			width: 240px;
		}
	}

	/* computer/table view */
	@media (min-width: 578px) {
		.searchBox {
			width: 400px;
		}
	}
}
