.page_siteVersions {
    font-family: "Courier New", Courier, monospace;

    h2.title {
        color: yellow !important;
    }

    h3 {
        color: #222;
        margin: 15px 0 10px 0;
        font-size: 1.3rem;
        font-weight: bold;
    }

    .invite {
        background-color: #777;
        padding: 10px;
        margin: 0 0 10px 0;
        border-radius: 5px;
        display: inline-block;
        font-size: 0.9rem;
        a {
            color: #222;
        }
    }

    .versions {
        ul {
            margin: 0 0 0 2px;
            li:first-child div {
                background-color: #737373;
                padding: 2px 0;
            }
            li {
                list-style: none;
                div.line {
                    display: inline-block;
                    .version {
                        color: #fff;
                        font-weight: bold;
                    }
                    .whenPublished {
                        color: #ddd;
                    }
                    .separator {
                        color: #999;
                    }
                    .shortDescription {
                        color: orange;
                    }
                }
            }
        }
    }

    .todos {
        ul {
            list-style: none;
            li:first-child div {
                background-color: #737373;
                padding: 2px 0;
                font-style: italic;
            }
            li {
                color: #fff;
                div.line {
                    display: inline-block;
                }
            }
        }
    }
}
