.page_siteVersions {
    font-family: "Courier New", Courier, monospace;

    h2.title {
        color: yellow !important;
    }

    h3 {
        color: #111;
        margin: 10px 0 10px 0;
        font-size: 1.3rem;
    }
    h3:not(:first-of-type) {
        margin: 20px 0 10px 0;
    }

    .invite {
        background-color: #777;
        padding: 10px;
        margin: 0 0 10px 0;
        border-radius: 5px;
        display: inline-block;
        font-size: 0.9rem;
        a {
            color: #222;
        }
    }

    .versions {
        ul {
            margin: 0 0 0 2px;
            li {
                list-style: none;
            }
        }
        .version {
            color: #fff;
            font-weight: bold;
        }
        .whenPublished {
            color: #ddd;
        }
        .separator {
            color: #999;
        }
        .shortDescription {
            color: orange;
        }
    }
}
